body,
#app {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}


.flex-col {
    display: flex;
    flex-direction: column;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.item-center {
    align-items: center;
}

.justc {
    justify-content: center;
}

.sans-font {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', 'Microsoft YaHei', 'PingFang SC', sans-serif;
}
